@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-car-move {
    animation: carMove 15s linear infinite;
  }
  
  .animate-road-lines {
    animation: roadLines 3s linear infinite;
  }
}

@keyframes carMove {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(calc(100vw + 100px));
  }
}

@keyframes roadLines {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200px);
  }
}